---
# Front matter comment to ensure Jekyll properly reads file.
---

em {
  color: inherit !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.avatar-thumb {
  height: 60px;
  width: 60px;
}
.avatar-full {
  height: 200px;
  width: 200px;
}

.image-size-thumb {
  height: 80px;
  width: 80px;
}
.image-fill {
  display: block;
  position: relative;
  overflow: hidden;
  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-mode: bicubic;
  }
}

.avatar {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    -ms-interpolation-mode: bicubic;
  }
}

.content {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
//  background: white;
  padding-top: 20px;
}

.below-content {
  background: #fafafa;
}

.nav-logo {
    height: 40px;
}
.related-posts {
  max-width: 1024px;
}

.width-medium {
  max-width: 740px;
  margin: 0 auto;
}
.width-full {
  max-width: 1080px;
  margin: 0 auto;
}


.small-height {
  height: 100px;
}
.category-nav {
  z-index: 100;
}

.drop-shadow {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)!important;
//    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: white !important;
}
.uk-navbar-container {
  padding: 0px 20px;
}



//-------------------
 @media print {
    body {margin-top: 50mm; margin-bottom: 50mm; 
           margin-left: 0mm; margin-right: 0mm}
   .print-hide {
     display: none;
   }
   .uk-cover-container {
     filter: none;
   }
 }
