---
layout: home
title: Helping
---
<!-- NOTE

https://serennu.com/colour/colourcalculator.php
#FBF041

END NOTE -->
<div class="category-nav">
  <h3>Categories</h3>
  {% include category-nav.html %}
</div>

<div class="content">
  <!-- Highlighted -->
  <div class="featured">
    {% assign featured = site.posts | where:"featured","True" %}
    <h3>{{ featured[0].title }}</h3>
  </div>

  <div class="uk-grid-small uk-child-width-1-2@m uk-text-center" uk-grid>
    {% assign posts = site.posts | sort:"weight" | reverse  %}
    {% for post in posts %}
        {% include card-post.html %}
    {% endfor %}
  </div>
</div>
