---
layout: home
title: Helping
featured: "AIMA"
---
<!-- NOTE

https://serennu.com/colour/colourcalculator.php
#FBF041

END NOTE -->


<!-- LIQUID ASSIGNMENTS -->
{% if page.featured %}
  {% assign featured = site.posts | where: 'slug', page.featured | first %}
{% else %}
  {% assign featured = site.posts | sort:"weight" | reverse | first %}
{% endif %}

{% assign posts = site.posts | sort:"weight" | reverse  %}
<!-- -->

<div class="width-full">
  <!-- Highlighted -->
<!--
  <div uk-grid>
    <div class="featured">
      <h3>{{ featured.title }}</h3>
    </div>
    <div class="">
      {% for post in posts limit:2 %}
        {% include list-post.html %}
      {% endfor %}
    </div>
  </div>

-->
  <div>
    {% include component/posts-grid.html %}
  </div>

</div>
