    <div>
      <a href="{{ include.post.url | prepend: site.baseurl }}" class="uk-link-toggle">
        <div class="uk-card uk-card-default uk-box-shadow-hover-small">
            {% if include.post.image %}
            <div class="uk-card-media-top">
              <div class="image-fill small-height">
                <img class="uk-position-absolute uk-transform-center" style="left: 50%; top: 50%" data-src="{{ include.post.image | prepend: site.baseurl }}" alt="" uk-img>
              </div>
            </div>
            {% endif %}
            <div class="uk-card-body uk-padding-small">
                <h3 class="uk-card-title uk-margin-remove">
                  <a class="uk-link-heading" href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.title }}</a>
                </h3>
                <div class="ingress uk-divider">
                  {% if include.post.excerpt != '' %}
                    <p>{{ include.post.excerpt | truncate: 200 }}</p>
                  {% else %}
                    <p>{{ include.post.content | truncate: 200 }}</p>
                  {% endif %}
                </div>
                {% include base/post-categories.html %}
            </div>
        </div>
      </a>
  </div>
