    <div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="uk-link-toggle">
        <div class="uk-card uk-card-default uk-box-shadow-hover-small">
            {% if post.image %}
            <div class="uk-card-media-top">
              <div class="image-fill small-height">
                <img class="uk-position-absolute uk-transform-center" style="left: 50%; top: 50%" src="{{ post.image | prepend: site.baseurl }}" alt="">
              </div>
            </div>
            {% endif %}
            <div class="uk-card-body uk-padding-small">
                <h3 class="uk-card-title uk-margin-remove">
                  <a class="uk-link-heading" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                <div class="ingress">
                  <p>{{ post.excerpt | truncate: 200 }}</p>
                </div>
                {% include base/post-categories.html %}
            </div>
        </div>
      </a>
  </div>
