<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/uikit.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="{{ site.baseurl }}/js/uikit.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/uikit-icons.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
</head>
