<!--<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"> -->
<nav class="uk-navbar-container uk-margin drop-shadow" uk-navbar>
    <div class="nav-overlay uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/logo.svg" class="nav-logo" alt="">
        </a>
        <ul class="uk-navbar-nav uk-visible@m">
            <li><a href="#">Tema</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  {% for category in site.category %}
                    <li><a href="{{ category.url | prepend: site.baseurl }}">{{ category.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </li>
        </ul>
    </div>
    <div class="nav-overlay uk-navbar-right">
        <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
        <a class="uk-navbar-toggle uk-navbar-toggle-animate uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #offcanvasNav; animation: uk-animation-fade" href="#"></a>
    </div>
    <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        <div class="uk-navbar-item uk-width-expand">
            <form class="uk-search uk-search-navbar uk-width-1-1" action="{{ site.baseurl }}/search.html" method="get">
                <input class="uk-search-input" id="search-box" name="query" type="search" placeholder="Søk..." autofocus>
            </form>
        </div>
        <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>
</nav>

<div id="offcanvasNav" class="uk-offcanvas" uk-offcanvas="mode: slide" style="display: block;" tabindex="-1">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide" role="dialog" style="max-width: 720px;">
    <a class="uk-navbar-toggle uk-icon-large uk-align-right" uk-close uk-toggle="target: #offcanvasNav; animation: uk-animation-fade" href="#"></a>
    <ul class="uk-nav uk-nav-default uk-margin">
      {% for category in site.category %}
        <li><a href="{{ category.url | prepend: site.baseurl }}">{{ category.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<!--
  <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-container">

        </div>
    </nav>
</div>

-->
