<!--<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"> -->
<nav class="uk-navbar-container uk-margin drop-shadow" uk-navbar>
    <div class="nav-overlay uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/logo.svg" class="nav-logo" alt="">
        </a>
        <ul class="uk-navbar-nav">
            <li><a href="#">Tema</a></li>
            <li><a href="#">Bøker</a></li>
            <li><a href="#">Om oss</a></li>
        </ul>
    </div>
    <div class="nav-overlay uk-navbar-right">
        <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>
    <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        <div class="uk-navbar-item uk-width-expand">
            <form class="uk-search uk-search-navbar uk-width-1-1" action="{{ site.baseurl }}/search.html" method="get">
                <input class="uk-search-input" id="search-box" name="query" type="search" placeholder="Søk..." autofocus>
            </form>
        </div>
        <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
    </div>
</nav>

<!--
  <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-container">

        </div>
    </nav>
</div>

-->
<!--
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>

      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><div class="user-view">
      <div class="background">
        <img src="https://c.tadst.com/gfx/1200x630/sunrise-sunset-sun-calculator.jpg">
      </div>
      <a href="#user"><img class="circle" src="https://thumbs.dreamstime.com/z/feeling-frustrated-computer-user-young-business-woman-sitting-table-laptop-tablet-pc-arms-raised-bad-news-52004378.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
-->
