<div class="uk-flex uk-flex-center uk-margin-small">
<ul class="uk-iconnav">
    <li><a uk-tooltip="Bokmerk" href="javascript:alert('Denne funksjonen kommer siden')" uk-icon="icon: bookmark"></a></li>
    <li><a uk-tooltip="Del" href="#modal-center" uk-icon="icon: social" uk-toggle></a></li>
    <li><a uk-tooltip="Print" href="javascript:window.print()" uk-icon="icon: print"></a></li>
</ul>
</div>

{% assign encoded_url = post.url | prepend: site.url | url_encode %}
{% assign encoded_title = post.title | url_encode %}

{% assign url_facebook = 'https://facebook.com/sharer/sharer.php?u=' | append: encoded_url %}
{% assign url_twitter = 'https://twitter.com/intent/tweet/?text=' | append: encoded_title | append: '&amp;url' | append: encoded_url %}

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-flex uk-flex-center uk-margin-small">
          <ul class="uk-iconnav">
            <li><a uk-tooltip="Del på Facebook" href="#" uk-icon="icon: facebook"></a></li>
            <li><a uk-tooltip="Del på Twitter" href="#" uk-icon="icon: twitter"></a></li>
            <li><a uk-tooltip="Del på LinkedIn" href="#" uk-icon="icon: linkedin"></a></li>
            <li><a uk-tooltip="Del på Google+" href="#" uk-icon="icon: google-plus"></a></li>
            <li><a uk-tooltip="Kopier link" href="#" uk-icon="icon: link"></a></li>
          </ul>
        </div>
    </div>
</div>
