---
layout: default
---
<div class="content">
  <div class="post uk-article">
    <header class="post-header">
      <h2 class="uk-article-title">{{ page.title }}</h2>
      <h4 class="uk-article-lead uk-margin-remove">{{ page.excerpt }}</h4>
      {% if page.image %}
        <div class="uk-margin-medium">
          {% if page.crop_image %}
            <div class="uk-cover-container uk-height-large" uk-parallax="grayscale: 100; blur: 2px" >
              <img src="{{ page.image | prepend: site.baseurl }}" alt="" uk-cover >
            </div>
          {% else %}
            <img src="{{ page.image | prepend: site.baseurl }}" alt="">
          {% endif %}
        </div>
      {% endif %}
      <div class="page-meta">
        {% include page-meta.html %}
      </div>
      <p class="meta">
      </p>
    </header>
    <article class="post-content" id="postContent">
        {{ content }}
    </article>
    <div class="post-tags">
      {% for tag in page.tags %}
        <span class="uk-badge">
            {{ tag }}
        </span>
      {% endfor %}

    </div>
  </div>
  {% include social-menu.html %}
  <div class="uk-flex uk-flex-center uk-margin-medium">
    <div><a class="uk-align-center" uk-tooltip="Til toppen" href="#" uk-totop uk-scroll></a></div>
  </div>
</div>
<div class="below-content">
  <div class="">
    {% include related-posts.html %}
  </div>
</div>
